@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
